# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MyPy / Pylint / Pyright
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Logs
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints

# GitHub files
*.DS_Store
*.swp

# OS-specific files
Thumbs.db
Desktop.ini

# dotenv / secrets
.env
.env.*
*.secret
*.tokens
data/
